@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #df7401;
  --color-secondary: #2b2a29;
  --font-title: "Montserrat", sans-serif;
}

@layer components {
  .center_div {
    @apply flex justify-center items-center;
  }
}

/* index.css */
.custom-select-file {
  height: 50px;
  padding: 0 20px;
  border-radius: 6px;

  font-size: 14px;
  font-family: inherit;
  font-weight: 600;

  background-color: #2b2a29;
  color: #ffffff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-shadow: none;
}

/* .custom-select-file:hover,
.custom-select-file:focus {
  background-color: #df7401;
  border-color: #e60000;
  color: #fff;
} */
